@page "/"
@page "/clientes"
@layout MainLayout
@inherits FinalProyect2.Pages.ClientesComponent

@using Radzen
@using Radzen.Blazor
@using FinalProyect2.Models.Jose
<PageTitle>Clientes</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Clientes">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await Load();})">
        </RadzenTextBox>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getClientesResult" TItem="FinalProyect2.Models.Jose.Cliente" RowDoubleClick="@Grid0RowDoubleClick">
          <Columns>
            <RadzenDataGridColumn TItem="FinalProyect2.Models.Jose.Cliente" Property="IdCliente" Title="Id Cliente">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FinalProyect2.Models.Jose.Cliente" Property="Nombre" Title="Nombre">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FinalProyect2.Models.Jose.Cliente" Property="Apellido" Title="Apellido">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FinalProyect2.Models.Jose.Cliente" Property="TipoDocumento" Title="Tipo Documento">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FinalProyect2.Models.Jose.Cliente" Property="Documento" Title="Documento">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FinalProyect2.Models.Jose.Cliente" Property="Genero" Title="Genero">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FinalProyect2.Models.Jose.Cliente" Property="Correo" Title="Correo">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FinalProyect2.Models.Jose.Cliente" Property="Clave" Title="Clave">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FinalProyect2.Models.Jose.Cliente" Property="Direccion" Title="Direccion">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FinalProyect2.Models.Jose.Cliente" Property="Telefono" Title="Telefono">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FinalProyect2.Models.Jose.Cliente" Property="FechaCreacion" FormatString="{0:dd/MM/yyyy}" Title="Fecha Creacion">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="FinalProyect2.Models.Jose.Cliente" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="finalProyect2ModelsJoseCliente">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, finalProyect2ModelsJoseCliente))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
