@page "/edit-cuota-prestamo/{IdCuotaPrestamo}"
@layout MainLayout
@inherits FinalProyect2.Pages.EditCuotaPrestamoComponent

@using Radzen
@using Radzen.Blazor
@using FinalProyect2.Models.Jose
<PageTitle>Edit Cuota Prestamo</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div  class="row">
      <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Item no longer available." Visible="@(!canEdit)">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" style="margin-bottom: 20px" Text="Close" Visible="@(!canEdit)" Click="@CloseButtonClick">
        </RadzenButton>
      </div>
    </div>
    <div  class="row">
      <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Another user has made conflicting changes to one or more of the fields you have modified. Please reload." Visible="@hasChanges">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="autorenew" style="margin-bottom: 20px" Text="Reload" Visible="@hasChanges" Click="@Button0Click">
        </RadzenButton>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="FinalProyect2.Models.Jose.CuotaPrestamo" Data="@cuotaprestamo" Visible="@(cuotaprestamo != null && canEdit)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Id Cuota Prestamo" Component="IdCuotaPrestamo" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(cuotaprestamo.IdCuotaPrestamo)" Name="IdCuotaPrestamo">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="IdCuotaPrestamo" Text="IdCuotaPrestamo is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Monto" Component="Monto" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(cuotaprestamo.Monto)" Name="Monto">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Interes" Component="Interes" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(cuotaprestamo.Interes)" Name="Interes">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Tipo De Prestamos" Component="TipoDePrestamos" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="width: 100%" @bind-Value="@(cuotaprestamo.TipoDePrestamos)" Name="TipoDePrestamos">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Estado" Component="Estado" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="250" style="width: 100%" @bind-Value="@(cuotaprestamo.Estado)" Name="Estado">
                </RadzenTextBox>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Fecha Planificada" Component="FechaPlanificada" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="width: 100%" @bind-Value="@(cuotaprestamo.FechaPlanificada)" Name="FechaPlanificada">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Fecha Realizada" Component="FechaRealizada" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="width: 100%" @bind-Value="@(cuotaprestamo.FechaRealizada)" Name="FechaRealizada">
                </RadzenDatePicker>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Cuota Pres" Component="CuotaPres" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="width: 100%" @bind-Value="@(cuotaprestamo.CuotaPres)" Name="CuotaPres">
                </RadzenNumeric>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Prestamo" Component="Fk_IdPrestamos" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDownDataGrid Data="@(getPrestamosForFk_IdPrestamosResult)" TextProperty="Periodo" ValueProperty="IdPrestamos" Placeholder="Choose Prestamo" ShowSearch="false" style="display: block; width: 100%" @bind-Value="@(cuotaprestamo.Fk_IdPrestamos)" Name="Fk_IdPrestamos">
                </RadzenDropDownDataGrid>
                <RadzenRequiredValidator Component="Fk_IdPrestamos" Text="Fk_IdPrestamos is required" style="position: absolute" DefaultValue="0">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Fecha Creacion" Component="FechaCreacion" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="width: 100%" @bind-Value="@(cuotaprestamo.FechaCreacion)" Name="FechaCreacion">
                </RadzenDatePicker>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button4Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
