@page "/edit-cliente/{IdCliente}"
@layout MainLayout
@inherits FinalProyect2.Pages.EditClienteComponent

@using Radzen
@using Radzen.Blazor
@using FinalProyect2.Models.Jose
<PageTitle>Edit Cliente</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div  class="row">
      <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Item no longer available." Visible="@(!canEdit)">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" style="margin-bottom: 20px" Text="Close" Visible="@(!canEdit)" Click="@CloseButtonClick">
        </RadzenButton>
      </div>
    </div>
    <div  class="row">
      <div class="col-md-9">
        <RadzenLabel style="font-weight: bold" Text="Another user has made conflicting changes to one or more of the fields you have modified. Please reload." Visible="@hasChanges">
        </RadzenLabel>
      </div>
      <div class="col-md-3">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="autorenew" style="margin-bottom: 20px" Text="Reload" Visible="@hasChanges" Click="@Button0Click">
        </RadzenButton>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm TItem="FinalProyect2.Models.Jose.Cliente" Data="@cliente" Visible="@(cliente != null && canEdit)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Id Cliente" Component="IdCliente" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric style="display: block; width: 100%" @bind-Value="@(cliente.IdCliente)" Name="IdCliente">
                </RadzenNumeric>
                <RadzenRequiredValidator Component="IdCliente" Text="IdCliente is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Nombre" Component="Nombre" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="255" style="display: block; width: 100%" @bind-Value="@(cliente.Nombre)" Name="Nombre">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Nombre" Text="Nombre is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Apellido" Component="Apellido" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="255" style="display: block; width: 100%" @bind-Value="@(cliente.Apellido)" Name="Apellido">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Apellido" Text="Apellido is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Tipo Documento" Component="TipoDocumento" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="255" style="display: block; width: 100%" @bind-Value="@(cliente.TipoDocumento)" Name="TipoDocumento">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="TipoDocumento" Text="TipoDocumento is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Documento" Component="Documento" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="255" style="display: block; width: 100%" @bind-Value="@(cliente.Documento)" Name="Documento">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Documento" Text="Documento is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Genero" Component="Genero" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="10" style="display: block; width: 100%" @bind-Value="@(cliente.Genero)" Name="Genero">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Genero" Text="Genero is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Correo" Component="Correo" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="255" style="display: block; width: 100%" @bind-Value="@(cliente.Correo)" Name="Correo">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Correo" Text="Correo is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Clave" Component="Clave" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="255" style="display: block; width: 100%" @bind-Value="@(cliente.Clave)" Name="Clave">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Clave" Text="Clave is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Direccion" Component="Direccion" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="255" style="display: block; width: 100%" @bind-Value="@(cliente.Direccion)" Name="Direccion">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Direccion" Text="Direccion is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Telefono" Component="Telefono" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="20" style="display: block; width: 100%" @bind-Value="@(cliente.Telefono)" Name="Telefono">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Telefono" Text="Telefono is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Fecha Creacion" Component="FechaCreacion" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDatePicker DateFormat="dd/MM/yyyy" style="width: 100%" @bind-Value="@(cliente.FechaCreacion)" Name="FechaCreacion">
                </RadzenDatePicker>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button4Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
